#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 0 5px;
}

#customers td, #customers th {
    padding: 5px;
    font-size: smaller;
    text-align: center;
}

#customers td {
    color: (--text_primary);
}

#customers tr:nth-child(even){background-color: var(--background_page);}

#customers th {
    padding-top: 8px;
    padding-bottom: 8px;
    /*background-color: val(--head);*/
}